h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#firstParagraph {
    color: #FF8000;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 22px;
    width: 1020px;
    margin-left: 220px;
    margin-bottom: 70px;
}

#bigBang {
    margin-left: 60px;
    margin-bottom: 70px;
    width: 460px;
}

#bigBangHeader {
    color: #D9AE00;
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#bigBangParagraph {
    font-size: 18px;
    color: #6D81B4;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#blackHole {
    margin-left: 60px;
    margin-bottom: 70px;
    width: 800px;
    background-color: #FFCEBE;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px red solid;
    border-bottom: 2px red solid;
}

#blackHoleHeader {
    text-align: center;
    color: #F44E50;
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-top: 25px;
}

#blackHoleText {
    color: #8B2B2C;
    text-align: center;
    width: 560px;
    font-size: 17px;
    padding-left: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#blackHolePic {
    width: 700px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#string {
    margin-left: 60px;
    width: 500px;
}

#stringHeader {
    text-align: right;
    color: #4716E4;
    font-size: 35px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#stringParagraph {
    color: #616161;
    text-align: right;
    font-size: 19px;
    background-color: #FFC1E3;
    border: 3px #FF5DA3 solid;
    padding: 15px 10px 12px 10px;
}

#stringTitle {
    color: #414651;
    margin-bottom: 30px;
}

#stringList {
    list-style-type: none;
    padding-left: 5px;
}

#rectangleOne, #rectangleTwo, #rectangleThree {
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    height: 14px;
    width: 14px;
    background-color: black;
    margin-right: 2px;
    margin-bottom: -55px;
    padding-bottom: -20px;
    margin-right: 10px;
}

#unified, #extra, #vibrating {
    color: #C27512;
    font-size: 18px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}


